#mobile-controls {
  display: none;
}
  
@media (max-width: 768px) {
  #mobile-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    position: fixed;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1em;
    z-index: 1001;
  }

  #mobile-controls button {
    background-color: #8b34d3;
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Victor Mono', monospace;
    box-shadow: 0 0 5px #1c9db4;
    min-width: 60px;
    text-align: center;
    flex: 1;
  }
}
  